<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30724696826-8kfnabdin4a44aojm1ujq0bkul3sb3rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30724696826-8kfnabdin4a44aojm1ujq0bkul3sb3rt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>30724696826-eu80n5l7l9fnvp1p30agrv2en9phnbfp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6tPnvfCqqtkk-N4rXKqS7EQoSHQLaJd0</string>
	<key>GCM_SENDER_ID</key>
	<string>30724696826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esahlan.user</string>
	<key>PROJECT_ID</key>
	<string>esahlan-817dc</string>
	<key>STORAGE_BUCKET</key>
	<string>esahlan-817dc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30724696826:ios:d5411ee60d7659710d7743</string>
</dict>
</plist>